body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.btn button:first-child{
  background-color: brown;
  padding: 8px 15px;
  color: white;
  margin: 0 10px;
}
.btn button:last-child{
  background-color: rgb(25, 183, 54);
  padding: 8px 15px;
  color: white;
}